table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  padding:10px;
  max-width: 100%;
  table-layout: fixed;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}


tr:nth-child(even) {
  background-color: #dddddd;
}


.autocomplete-items{
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  width: 100%;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete{
  position: relative;
  padding: 0;
}

.autocomplete .tableBackground{
  background-color: white;
  color: black;
  width: 80vw;
  border-radius: 5px;
  left: 9.3vw;
  box-shadow: 0 0 10px 2px;
  transition: all 0.5s ease;
  position: relative;
}


.autocomplete_input{
  border: none;
  background-color: transparent;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  height: 100%;
  margin-left: 0;
  /* margin: -8px; */
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.alert{
  color: red;
}

.alertDiv{
  background-color: white;
  color: red;
  width: 80vw;
  border-radius: 5px;
  left: 9.3vw;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  transition: all 0.5s ease;
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
}

.tableBackground{
  background-color: white;
  color: black;
  width: 80vw;
  border-radius: 5px;
  left: 9.3vw;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  transition: all 0.5s ease;
  position: relative;
}
.messagesDiv{
  background-color: white;
  color: black;
  width: 80vw;
  border-radius: 5px;
  left: 9.3vw;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  transition: all 0.5s ease;
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px 2px;
  color: green;

}
.message{
  color: black;
}




main .btn {
  border: 1px solid black;
  background-color: #0000ff;
  color: white;
  border-radius: 5px;
  outline: none;
  padding: 5px 10px;
  transition: all 0.2s ease;
  z-index: 10;
}
